@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

.slide-in-left {
  opacity: 0;
  transform: translateX(100%);
  -webkit-animation:slide-in-left .5s ease-out forwards;
  -moz-animation:slide-in-left .5s ease-out forwards;
  animation:slide-in-left .5s ease-out forwards;
}

@keyframes slide-in-left {
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes dialog-fade-in-up {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.fade-in-up {
  opacity: 0;
  animation: fade-in-up .5s forwards;
}

.delay-1 {
  animation-delay: .5s;
}

.delay-2 {
  animation-delay: 1s;
}
