@import 'colors';

.mat-dialog-container {
  background-image: linear-gradient(-136deg, #D2508D 0%, #74298C 47%, #2C2E8B 100%) !important;
  color: #FFF !important;
}

.dialog-header {
  background: rgba(0,0,0,0.25);
  margin: -24px -24px 24px -24px;
  padding: 24px 24px 18px 24px;

  h1 {
    color: #FFF;
    margin: 0;
    font-size: 36px;
  }

  .section-number:after {
    bottom: -10px;
  }

  button.close {
    background: transparent;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 2px;
    top: 0;

    &:focus {
      outline: none;
    }
  }
}

.mat-dialog-content {
  h3 {
    margin: 0;
  }

  //a {
  //  color: $primary-blue;
  //
  //  &:hover {
  //    color: darken($primary-blue, 10%);
  //  }
  //}

  //button.mat-button.primary {
  //  background: $primary-blue;
  //}
}