//ITC Avant Garde

@font-face {
  font-family: 'Avant Garde';
  src: url('assets/fonts/avant-garde/ITCAvantGardeStd-XLt.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('assets/fonts/avant-garde/ITCAvantGardeStd-XLtObl.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('assets/fonts/avant-garde/ITCAvantGardeStd-Bk.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('assets/fonts/avant-garde/ITCAvantGardeStd-BkObl.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('assets/fonts/avant-garde/ITCAvantGardeStd-Md.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('assets/fonts/avant-garde/ITCAvantGardeStd-MdObl.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('assets/fonts/avant-garde/ITCAvantGardeStd-Demi.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('assets/fonts/avant-garde/ITCAvantGardeStd-DemiObl.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('assets/fonts/avant-garde/ITCAvantGardeStd-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('assets/fonts/avant-garde/ITCAvantGardeStd-BoldObl.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

// Caecilia LT

@font-face {
  font-family: 'Caecilia';
  src: url('assets/fonts/caecilia/CaeciliaLTStd-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Caecilia';
  src: url('assets/fonts/caecilia/CaeciliaLTStd-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Caecilia';
  src: url('assets/fonts/caecilia/CaeciliaLTStd-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Caecilia';
  src: url('assets/fonts/caecilia/CaeciliaLTStd-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Caecilia';
  src: url('assets/fonts/caecilia/CaeciliaLTStd-Bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Caecilia';
  src: url('assets/fonts/caecilia/CaeciliaLTStd-BoldItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Caecilia';
  src: url('assets/fonts/caecilia/CaeciliaLTStd-Heavy.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Caecilia';
  src: url('assets/fonts/caecilia/CaeciliaLTStd-HeavyItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}