@import 'colors';
@import 'animations';

input {
  border: none;
  border-bottom: 1px solid #000;
  font-family: 'Open Sans';
  font-size: 20px;
  transition: border-color .3s;

  &:focus {
    outline: none;
    border-bottom-color: $primary;
  }
}

button.mat-button, button.mat-raised-button {
  border: none;
  border-radius: 25px;
  color: #FFF;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  padding: 0 25px;
  transition: background .3s;

  &:focus {
    outline: none;
  }

  &.primary {
    background: $primary;
  }

  &.light {
    background: #999;
  }

  &.outline {
    background: rgba(255,255,255,0.3);
    border: 1px solid $primary;
    color: $primary;
  }

  &.small {
    font-size: 12px;
    height: 40px;
  }

  .mat-button-focus-overlay, .mat-button-ripple {
    border-radius: 25px;
  }

  &[disabled] {
    background: #CCC;
    color: #FFF !important;
    cursor: not-allowed;
  }

  .wheel-spinner {
    img {
      width: 35px;
      margin-top: 7px;
    }
  }
}

.mat-calendar-controls button.mat-button {
  color: #666;
  font-size: 14px;
  font-weight: 500;
  height: auto;
}

.mat-input-container {
  width: 100%;
}

.mat-form-field {
  width: 100% !important;
}
