.m2-loading-background {
  background: rgba(12, 125, 174, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  .m2-loading {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 56px;
    color: #FFF;
    padding: 16px 16px 42px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}