.m2-notification-wrapper {
  position: fixed;
  top: -6px;
  padding-top: 6px;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 10000;
  min-width: 300px;
  max-width: 500px;
  min-height: 55px;
  background: #FFF;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  display: table;
  border-radius: 3px;
  font-size: 1.25em;
  animation: m2-slide-in .3s forwards;
  opacity: 0;

  .message {
    color: #4A31B5;
  }

  div {
    display: table-cell;
    vertical-align: middle;
  }

  div:first-child {
    width: 38px;
    border-radius: 0 0 0 3px;
    text-align: center;

    &:before {
      color: #FFF;
      font-family: 'Material Icons';
      font-size: 1.5em;
    }
  }

  div:nth-child(2) {
    padding: 10px;
  }

  div:last-child {
    width: 30px;
    text-align: center;
    border-radius: 0 0 3px 0;

    span {
      cursor: pointer;

      &:after {
        content: '\E5CD';
        font-family: 'Material Icons';
        color: #AAA;
        border-radius: 50%;
        transition: all .3s;
        padding: 1px;
      }

      &:hover::after {
        color: #FFF;
        background: #AAA;
      }
    }
  }

  &.m2-alert div:first-child:before {
    color: #ED1C24;
    content: '\E002';
  }

  &.m2-info div:first-child:before {
    color: #1C75BC;
    content: '\E88F';
  }

  &.m2-success div:first-child:before {
    color: #00A651;
    content: '\E5CA';
  }
}

@keyframes m2-slide-in {
  100% {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}

@keyframes m2-slide-out {
  0% {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}

.m2-slide-out {
  animation: m2-slide-out .3s forwards;
}
