<div class="dialog-header">
    <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <h1 class="section-number">Transaction</h1>
</div>

<mat-dialog-content>
    <ul class="none">
        <li>
            <strong>Hash:</strong> {{transaction?.hash}}
        </li>
        <li *ngIf="address">
            <strong>Contract Address:</strong> {{address}}
        </li>
        <li>
            <strong>From Address:</strong> {{transaction?.from}}
        </li>
        <li *ngIf="transaction?.fromName">
            <strong>From Name:</strong> {{transaction?.fromName}}
        </li>
        <li *ngIf="transaction?.to">
            <strong>To Address:</strong> {{transaction?.to}}
        </li>
        <li *ngIf="transaction?.toName">
            <strong>To Name:</strong> {{transaction?.toName}}
        </li>
        <li *ngIf="transaction.type == transactionType.ExecuteSmartContract">
            <strong>Result:</strong> {{transaction?.receipt?.contractResult}}
        </li>
        <li>
            <strong>Time:</strong> {{transaction?.time | m2SimpleDateTime}}
        </li>
        <li>
            <strong>Signature:</strong> {{transaction?.signature}}
        </li>
    </ul>
</mat-dialog-content>
