<div class="dialog-header">
    <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <h1 class="section-number">Send Tokens</h1>
</div>

<mat-dialog-content>
    <div [formGroup]="formGroup">
        <mat-form-field>
            <input matInput formControlName="to" placeholder="Address">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="tokens" placeholder="Tokens">
        </mat-form-field>

        <div class="mt30">
            <m2-button [disabled]="!formGroup.valid || spinner" [spinner]="spinner" (click)="send()" text="Send Tokens"></m2-button>
        </div>
    </div>
</mat-dialog-content>
