.smart-contract-page {
  min-height: calc(100vh - 200px);
  padding: 20px 40px 40px;

  .error-messages {
    background: lighten(pink, 5%);
    color: red;
    margin-top: 20px;

    pre {
      border-bottom: 1px solid pink;
      padding: 10px;
      margin: 0;
      white-space: normal;
    }
  }

  .bg-dark {
    word-break: break-all;
    padding: 10px;

    pre {
      white-space: normal;
    }
  }
}