<div class="smart-contract-page">
    <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="66">
            <h3>Smart Contract Code</h3>
            <div ace-editor #editor
                 [(text)]="code"
                 [mode]="'sql'"
                 [theme]="'eclipse'"
                 [options]="options"
                 [readOnly]="false"
                 [autoUpdateContent]="true"
                 [durationBeforeCallback]="1000"
                 (textChanged)="onChange($event)"
                 style="min-height: 200px; width:100%; overflow: auto;"></div>
            <div class="error-messages">
                <pre *ngFor="let error of errors"><i class="fas fa-times-circle"></i> {{error}}</pre>
            </div>
            <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex>
                    <h3>Byte Code</h3>
                    <div class="bg-white">
                        <pre>{{contract?.bytecode}}</pre>
                    </div>
                </div>
                <div fxFlex>
                    <h3>API</h3>
                    <div class="bg-white">
                        <pre> {{contract?.interface | json}}</pre>
                    </div>
                </div>
            </div>


        </div>
        <div fxFlex="33" style="background: #DDD; padding: 20px; text-align: center">
            <m2-button text="compile" [spinner]="compiling" [disabled]="!code || code === ''" (click)="compile()"></m2-button>
            <div class="mt20">
                <m2-button [disabled]="!contract || deploying" [spinner]="deploying" text="deploy" (click)="deploy()"></m2-button>
            </div>
        </div>
    </div>
</div>
