<div class="node-info-container">
    <div class="node-info-header" fxLayout="column">
        <div fxFlex>
            <h3>Node {{ip}}</h3>
        </div>
        <div fxFlex>
            <div fxLayout="row">
                <div fxFlex>
                    My Transactions: <strong>{{transactions?.length}}</strong>
                </div>
                <div fxFlex class="right">
                    My Balance: <strong>{{balance}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="node-info-body">
        <mat-table #table [dataSource]="dataSource">

            <!-- To -->
            <ng-container cdkColumnDef="to">
                <mat-header-cell *cdkHeaderCellDef> To</mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.to}}</mat-cell>
            </ng-container>

            <!-- Value -->
            <ng-container cdkColumnDef="value">
                <mat-header-cell *cdkHeaderCellDef class="right"> Value</mat-header-cell>
                <mat-cell *cdkCellDef="let row" class="right"> {{row.value}}</mat-cell>
            </ng-container>

            <!-- Time -->
            <ng-container cdkColumnDef="time">
                <mat-header-cell *cdkHeaderCellDef class="right"> Time</mat-header-cell>
                <mat-cell *cdkCellDef="let row" class="right"> {{row.time | m2SimpleDateTime}}</mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>

