.node-info-container {
  background: #FFF;
  margin-bottom: 40px;

  .node-info-header {
    background: #123985;
    background: url('../../../assets/images/rainbow-bg.png');
    background-attachment: fixed;
    background-position: top center;
    border-bottom: 1px solid #DFDFDF;
    color: #FFF;
    padding: 10px;

    h3 {
      color: #FFF;
      margin: 10px 0 10px;
    }
  }

  .node-info-body {
    max-height: 400px;
    overflow: auto;
  }

  @media (max-width: 640px) {
    margin-bottom: 20px;
  }
}