.node-info-header {
  background: #123985;
  background: linear-gradient(to left, #123985 0%, #007DC5 50%, #3CBFBE 100%);
  border-bottom: 1px solid #DFDFDF;
  padding: 10px;

  h3 {
    color: #FFF;
    margin: 0;
  }
}