<div class="site-container">
    <div [class]="headerClass" fxLayout="row" fxLayoutAlign="center center">
        <div class="logo" (click)="appService.navigateToHome()">
            <img src="assets/images/logo-white.png">
        </div>
        <div fxFlex class="my-address">
            <strong>My Address:</strong> {{config.address}}
            <p>
                <a><i class="fa fa-refresh"></i> Refresh</a>
            </p>
        </div>
        <div class="right-buttons">
            <div class="circle-button" [matMenuTriggerFor]="appMenu">
                <i class="fa fa-bars"></i>
            </div>
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="appService.openWallet()">My Wallet</button>
                <!--<button mat-menu-item (click)="appService.navigatetoBlog()">Blog</button>
                <div class="account-buttons">
                    <div *ngIf="!appService.isSignedIn()">
                        <button mat-menu-item (click)="appService.openSignIn()">Sign In</button>
                    </div>
                    <div *ngIf="appService.isSignedIn()">
                        <button *ngIf="appService.isAppAdmin()" mat-menu-item (click)="appService.navigateToMeta()"> Meta</button>
                        <button mat-menu-item (click)="appService.signOut()">Sign Out</button>
                    </div>
                </div>-->
            </mat-menu>
        </div>
    </div>

    <div class="router-container">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex>
                <h1>Rule The Blockchain</h1>
            </div>
            <div>
                &copy; 2018 Dispatch Labs
            </div>
        </div>
    </footer>
</div>
