@import 'styles/colors';

.header {
  background: #0E3178;
  background: linear-gradient(to right, #0E3178 0%, #782B90 50%, #EF5BA1 100%);
  text-align: center;
  height: 180px;
  padding: 30px;
  position: fixed;
  top: 0;
  transition: height .3s;
  width: 100%;
  z-index: 1000;

  .logo {
    cursor: pointer;
    margin-top: -15px;
    width: 140px;
    transition: width .3s;

    img {
      width: 100%;
    }
  }

  .my-address {
    color: #FFF;
    font-family: 'Avant Garde', SansSerif, sans-serif;
    margin-top: 10px;
    text-align: left;
    word-break: break-all;
    white-space: pre-line;

    @media (min-width: 961px) {
      text-align: right;
      padding-right: 20px;
      margin-top: 0;
    }
  }

  .right-buttons {
    transition: color .3s, border-color .3s;
    text-align: right;

    .circle-button {
      border: 1px solid #FFF;
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;
      width: 48px;
      height: 48px;
      margin-left: 10px;
      padding-top: 9px;
      text-align: center;

      &:hover {
        background: rgba(255,255,255,0.3);
      }

      .svg-inline--fa {
        color: #FFF;
        font-size: 28px;
      }
    }
  }


  &.scrolled {
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    height: 100px;

    .logo {
      width: 100px;
      margin-top: -10px;
    }
  }
}

.router-container {
  margin-top: 180px;
}

footer {
  background: #F04E23;
  background: linear-gradient(to right, #F04E23 0%, #F7941D 50%, #FFF200 100%);
  color: #FFF;
  font-size: 10px;
  padding: 30px;
}
