<div class="home-page container">
    <h1>Avant Garde</h1>

    <div fxLayout="row">
        <div fxFlex>
            <h1>Bold</h1>
            <h1 style="font-weight: 600">Demibold</h1>
            <h1 style="font-weight: 500">Medium</h1>
            <h1 style="font-weight: 400">Book</h1>
            <h1 style="font-weight: 300">Extra Light</h1>
        </div>
        <div fxFlex>
            <h1 style="font-style: italic">Bold Oblique</h1>
            <h1 style="font-weight: 600; font-style: italic">Demibold Oblique</h1>
            <h1 style="font-weight: 500; font-style: italic">Medium Oblique</h1>
            <h1 style="font-weight: 400; font-style: italic">Book Oblique</h1>
            <h1 style="font-weight: 300; font-style: italic">Extra Light Oblique</h1>
        </div>
    </div>

    <h1 class="caecilia mt60">Caecilia</h1>
    <div fxLayout="row">
        <div fxFlex>
            <h1 class="caecilia" style="font-weight: 600">Heavy</h1>
            <h1 class="caecilia" style="font-weight: 500">Bold</h1>
            <h1 class="caecilia" style="font-weight: 400">Roman</h1>
            <h1 class="caecilia" style="font-weight: 300">Light</h1>
        </div>
        <div fxFlex>
            <h1 class="caecilia" style="font-weight: 600; font-style: italic">Heavy Italic</h1>
            <h1 class="caecilia" style="font-weight: 500; font-style: italic">Bold Italic</h1>
            <h1 class="caecilia" style="font-weight: 400; font-style: italic">Roman Italic</h1>
            <h1 class="caecilia" style="font-weight: 300; font-style: italic">Light Italic</h1>
        </div>
    </div>
</div>