@import '../../styles/colors';

.home-page {
  min-height: 100vh;
  padding: 20px 40px 40px;

  a {
    .fa {
      transition: all .3s;
    }

    &:hover {
      .fa {
        transform: rotate(45deg);
      }
    }
  }

  .list-header {
    color: #FFF;
    min-height: 84px;
    padding: 10px;

    h3 {
      color: #FFF;
      margin: 10px 0 10px;
    }

    a {
      color: #FFF;
    }
  }

  .list-body {
    background: rgba(0,0,0,0.15);
  }

  .list-item {
    padding: 10px;
    border-bottom: 1px solid #CCC;

    &:hover {
      cursor: pointer;
      transform: scale(1.025);
      transition: all .3s;
    }
  }

  .search {
    padding: 20px 20px 0;
    border-bottom: 1px solid #CCC;
    position: relative;
  }

  @media (max-width: 640px) {
    padding: 20px 0;

    .container {
      padding: 0 20px;
    }
  }

  ul {
    margin: 0;
  }

  ul.none li {
    margin-bottom: 10px;
  }

  .bounce-left {
    width: 20px;

    svg {
      color: #2D434B !important;
    }
  }
}