<div class="home-page">
    <div *ngIf="loading" class="loading-overlay">
        <div class="loading">
            <div class="ping"></div>
            <div class="ping one"></div>
            <div class="ping two"></div>
            <div class="icon">
                <img src="assets/images/icon-character-black.png">
            </div>
        </div>
    </div>

    <div class="container" *ngIf="!loading">
        <div fxLayout="column" fxLayout.gt-sm="row" ngClass.gt-sm="two-column-container" class="bg-dark p20">
            <div fxFlex.gt-sm="25" class="fade-in-up">
                <div class="list-header" fxLayout="column">
                    <div fxFlex>
                        <h3><i class="far fa-cubes fa-fw"></i> Delegates</h3>
                    </div>
                    <div fxFlex class="refresh">
                        <a (click)="refresh()"><i class="far fa-sync fa-fw"></i> Refresh</a>
                    </div>
                </div>
                <div class="list-body">
                    <div fxLayout="row" *ngFor="let delegate of config?.delegates" class="list-item" (click)="select(delegate)">
                        <div fxFlex>
                            <ul class="none">
                                <li>{{delegate.httpEndpoint.host}}</li>
                                <li>{{delegate.httpEndpoint.port}}</li>
                            </ul>
                        </div>
                        <div *ngIf="config.selectedDelegate?.address === delegate.address">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div fxFlex.gt-sm="75" class="fade-in-up delay-1">
                <div class="list-header" fxLayout="column">
                    <div fxFlex>
                        <h3><i class="fal fa-list-ul fa-fw"></i> Transactions</h3>
                    </div>
                    <div fxFlex>
                        <i class="fal fa-cube fa-fw"></i> <span *ngIf="config.selectedDelegate">{{config.selectedDelegate.address}}</span>
                    </div>
                </div>
                <div class="list-body">
                    <div *ngIf="config.selectedDelegate; else noActiveDelegateTemplate">
                        <div class="search">
                            <div fxLayout="row">
                                <div fxFlex class="relative">
                                    <mat-form-field >
                                        <input [(ngModel)]="search" matInput placeholder="Enter 'From' Address">
                                    </mat-form-field>
                                </div>
                                <div class="search-button">
                                    <button mat-icon-button [disabled]="search?.length < 40" (click)="searchTransactions()"><mat-icon>search</mat-icon></button>
                                </div>
                            </div>
                        </div>
                        <div class="list-results">
                            <app-scroll-container class="scrollHeight" [more]="hasMore()" (scrolled)="handleScroll($event)">
                                <mat-table #table [dataSource]="dataSource">
                                    <ng-container matColumnDef="to">
                                        <mat-header-cell *matHeaderCellDef>To</mat-header-cell>
                                        <mat-cell *matCellDef="let row">{{row.to}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="value">
                                        <mat-header-cell *matHeaderCellDef class="center">Value</mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="center">{{row.value}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="time">
                                        <mat-header-cell *matHeaderCellDef class="center">Time</mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="center">{{row.time | m2SimpleDateTime}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="type">
                                        <mat-header-cell *matHeaderCellDef class="left">Type</mat-header-cell>
                                        <mat-cell *matCellDef="let row" class="left">{{row.typeLabel}}</mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="appService.openTransaction(row)"></mat-row>
                                </mat-table>
                            </app-scroll-container>
                        </div>
                    </div>
                    <ng-template #noActiveDelegateTemplate>
                        <div class="p20">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div class="bounce-left">
                                    <i class="fas fa-chevron-left"></i>
                                </div>
                                <div fxFlex>
                                    <h3>Choose a delegate from the list to see it's transactions</h3>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>