.home-page {
  background: #FAFAFA;
  min-height: 100vh;
  padding: 20px 40px 40px;

  a {
    .fa {
      transition: all .3s;
    }

    &:hover {
      .fa {
        transform: rotate(45deg);
      }
    }
  }

  @media (max-width: 640px) {
    padding: 20px 0;

    .container {
      padding: 0 20px;
    }
  }
}