<div class="home-page">
    <div *ngIf="loading" class="loading-overlay">
        <div class="loading">
            <div class="ping"></div>
            <div class="ping one"></div>
            <div class="ping two"></div>
            <div class="icon">
                <img src="assets/images/icon-character-black.png">
            </div>
        </div>
    </div>

    <div class="container" *ngIf="!loading">
        <p class="right mt0 fade-in-up">
            <a (click)="refresh()"><i class="fa fa-refresh"></i> Refresh</a>
        </p>
        <div class="mt20">
            <!-- TODO: Table here -->
        </div>
    </div>
</div>