// Partials
@import 'app/styles/colors';
@import 'app/styles/fonts';
@import 'app/styles/forms';
@import 'app/styles/dialogs';

body {
  background: #F0F0F0;
  color: #2D434B;
  font-family: 'Caecilia', Serif;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Avant Garde', Futura, SansSerif;
}

div {
  box-sizing: border-box;
}

a {
  color: $primary;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: darken($primary, 15%)
  }
}

ul.none {
  list-style: none;
  padding-left: 0;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mt-10 {
  margin-top: -10px;
}

.mt0 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mb40 {
  margin-bottom: 40px;
}

.p20 {
  padding: 20px !important;
}
.bottom-line {
  border-bottom: 1px solid #666;
}

.large {
  font-size: 22px !important;
}

.x-large {
  font-size: 28px !important;
}

.meta {
  font-family: 'ffMeta';
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.relative {
  position: relative;
}

.font-light {
  font-weight: 300 !important;
}

.font-regular {
  font-weight: 500;
}

.font-primary {
  color: $primary
}

.underline {
  text-decoration: underline;
}

.tip {
  color: #999;
  font-style: italic;
  font-weight: 300;
}

.flip-h {
  transform: scaleX(-1);
}

.flip-v {
  transform: scaleY(-1);
}

.flip-both {
  transform: scale(-1, -1);
}

.callout {
  background: #DDD;
  border-radius: 3px;
  color: #222;
  padding: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 50px;

  @media (min-width: 961px) {
    width: 100%;
    max-width: 1200px;
  }
}

.bg-white {
  background: #FFF;
}

.collapse-link {

  &:after {
    content: '\f056';
    font-family: 'FontAwesome';
    padding-left: 8px;
  }

  &.closed:after {
    content: '\f055';
  }
}

.collapse-panel {
  overflow: hidden;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.separator {
  width: 240px;
  height: 6px;
  border-radius: 3px;
  background: $primary;
  margin: 0 auto;

  &.thin {
    height: 2px;
  }
}

.separator-line {
  width: 100%;
  border-bottom: 1px solid #CCC;
  margin: 20px 0;
}

.foo {
  background: orange;
}

.or-separator {
  position: relative;
  height: 20px;
  border-bottom: 1px solid #CCC;
  width: 200px;
  margin-bottom: 30px;

  div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    color: #ccc;
    width: 30px;
    background: #F4F4F4;
    bottom: -10px;
    text-align: center;
  }
}

.two-column-container {
  > div:nth-child(odd) {
    padding-right: 20px;
  }
  > div:nth-child(even) {
    padding-left: 20px;
  }
}

.loading-overlay {
  background: rgba(0,0,0,0.25);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  .loading {
    background: url('assets/images/icon-bg-purple.png') center no-repeat;
    background-size: 50%;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    height: 200px;
    width: 200px;
  }

  .ping {
    border: 20px solid #FFF;
    border-radius: 50%;
    position: absolute;
    animation: wave-out 2s infinite;
  }

  .ping.one {
    opacity: 0;
    animation-delay: .5s;
  }

  .ping.two {
    opacity: 0;
    animation-delay: 1s;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .icon img {
    width: 50px;
  }

  @keyframes wave-out {
    0% {
      border-width: 0;
      height: 0;
      width: 0;
      top: 50%;
      right: 50%;
      opacity: 1;
    }
    100% {
      border-width: 5px;
      height: 100px;
      width: 100px;
      top: calc(50% - 50px);
      right: calc(50% - 50px);;
      opacity: 0;
    }
  }
}

// M2 Styles local override
.m2-info-image {
  margin-top: -20px;
  text-align: center;

  img {
    max-width: 80px !important;
  }
}

// Material Styles
.mat-dialog-container {
  position: relative;
  animation: dialog-fade-in-up .5s;
}

.mat-icon-button {
  width: 30px !important;
  height: 30px !important;
}

.mat-paginator-page-size-select {
  width: 56px !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.mat-row:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('assets/images/rainbow-bg.png');
  background-attachment: fixed;
  background-position: top center;
  cursor: pointer;
  transform: scale(1.025);
  transition: all .3s;
}

.mat-cell {
  padding: 10px 0;
}

