<div class="dialog-header">
    <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <h1 class="section-number">My Wallet</h1>
</div>

<mat-dialog-content>
    <div *ngIf="loading" class="loading-overlay">
        <div class="loading">
            <div class="ping"></div>
            <div class="ping one"></div>
            <div class="ping two"></div>
            <div class="icon">
                <img src="assets/images/icon-black.png">
            </div>
        </div>
    </div>

    <div *ngIf="!loading" [formGroup]="formGroup">
        <mat-form-field>
            <input matInput formControlName="privateKey" placeholder="Private Key">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="address" placeholder="Address">
        </mat-form-field>
        <div fxLayout="row">
            <div fxFlex>
                <a (click)="generateWallet()"><i class="fa fa-plus-circle"></i> Generate New Wallet</a>
            </div>
            <div fxFlex class="right">
                <a *ngIf="formGroup.get('privateKey').valid"><i class="fa fa-save"></i> Save My Private Key</a>
            </div>
        </div>

        <div class="mt30">
            <m2-button [disabled]="!formGroup.valid || spinner" [spinner]="spinner" (click)="save()" text="Save"></m2-button>
        </div>
    </div>

</mat-dialog-content>
