<div [formGroup]="group">
    <div layout-xs="column" layout="row" layout-align-gt-sm="center center" layout-wrap>
        <mat-input-container>
            <input matInput placeholder="Current Password" formControlName="currentPassword" type="password">
        </mat-input-container>
    </div>
    <div layout-xs="column" layout="row" layout-align-gt-sm="center center" class="top30" layout-wrap>
        <mat-input-container>
            <input matInput placeholder="New Password" formControlName="newPassword" type="password">
        </mat-input-container>
    </div>
    <div layout-xs="column" layout="row" layout-align-gt-sm="center center" layout-wrap>
        <mat-input-container>
            <input matInput placeholder="Confirm New Password" formControlName="confirmNewPassword" type="password">
          <mat-error>Passwords did not match</mat-error>
        </mat-input-container>
    </div>

    <div layout="row" class="top30 dialog-button">
        <m2-button text="Change Password" [disabled]="!group.valid || spinner" type="button" class="primary" (click)="changePassword()" [minWidth]="'240px'"></m2-button>
    </div>
</div>
